.app-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: fixed;
    padding: 20px 0;
    width: 100vw;

    background-color: var(--clr-bg-2);
    box-shadow: 0 3px 5px 0  rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid black;

    user-select: none;

    z-index: 20;

    transition: all 150ms ease-in-out;
}
.app-header.hidden,
.app-header.hidden * {
    height: 0;

    padding-top: 0;
    padding-bottom: 0;

    font-size: 0;

    margin-top: 0;
    margin-bottom: 0;

    border-top-width: 0;
    border-bottom-width: 0;
}
.app-header.hidden .toggle,
.app-header .toggle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);

    width: 100px;

    height: fit-content;

    background-color: var(--clr-bg-2);

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid white;
    border-top: none;
    
    box-shadow: 0 3px 5px 0  rgba(0, 0, 0, 0.5);

    font-size: 0.75rem;
    text-align: center;

    cursor: pointer;

    transition: 150ms ease-in-out;
}
.app-header .toggle i,
.app-header.hidden .toggle i {
    font-size: 0.75rem;
}
.app-header .toggle:hover {
    background-color: #4a509d;
}

.app-logo {
    margin-left: 10%;
    margin-right: auto;
    height: 50px;
    aspect-ratio: 1;

    cursor: pointer;
}

.app-language,
.app-language-over {
    height: 35px;
    width: 50px;
    border-radius: 5px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    cursor: pointer;

    transition: 250ms ease-in-out;
}
.app-language-over.pol,
.app-language.eng {
    background-image: url("../images/pol.png");
}
.app-language.pol,
.app-language-over.eng {
    background-image: url("../images/eng.png");
}
.app-language:hover .app-language-over{
    transform: translateX(-50%);
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.5);
}

.app-sign-out {
    width: 10%;
    margin-left: 20px;
    margin-right: 10%;
}