/* ---- Main container ---- */
.container {
    position: relative;
    display: flex;
    z-index: 99;
}

/* ---- Size bar ---- */
.size-bar {
    width: 8px;
    background-image: radial-gradient( var(--clr-acc-1), var(--clr-acc-2));
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: right;

    border-left: 3px solid var(--clr-bg-2);

    transition: 250ms ease-in-out;
}
.size-bar:hover {
    cursor: e-resize;
    background-color: rgba(0, 0, 0 ,0);
    background-size: 100% 100%;
}
.size-bar.resizing {
    cursor: none;
    background-size: 100% 10%;
    background-repeat: repeat;
}

/* ---- Create user form ---- */
section.create-user-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 75%;
}

/* ---- Users list ---- */
section.user-list {
    background-color: var(--clr-bg-2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.5);
    width: 25%;
}