.container {
    display: flex;
}

.size-bar {
    width: 8px;
    background-image: radial-gradient( var(--clr-acc-1), var(--clr-acc-2));
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: right;

    transition: 250ms ease-in-out;
}
.size-bar:hover {
    cursor: e-resize;
    background-color: rgba(0, 0, 0 ,0);
    background-size: 100% 100%;
}
.size-bar.resizing {
    cursor: none;
    background-size: 100% 10%;
    background-repeat: repeat;
}


section.create-user-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 75%;
}


section.user-list {
    background-color: var(--clr-bg-2);
    box-shadow: -5px 0 2px 0 rgba(0, 0, 0, 0.2);
    width: 25%;
}