.container {
    display: flex;
}

.size-bar {
    width: 5px;
    background-color: white;
}
.size-bar:hover {
    cursor: e-resize;
}


section.create-user-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 75%;
}


section.user-list {
    background-color: green;
    width: 25%;
}