.client-container {
    background-color: yellow;
    height: 100%;
}

.client-manage {
    display: flex;


    background-color: green;
}
.client-manage .left {
    width: 50%;
    background-color: blue;
}
.client-manage .right {
    display: block;
    width: 50%;
    margin: auto;
}

.client-list {
    background-color: red;
}
.client-list table{

}
.client-list tr{

}
.client-list th{

}
.client-list td{

}
