.client-container {
    height: 100%;
    padding: 50px;
}

.client-manage {
    display: flex;
    flex-wrap: wrap;

    padding: 5px;
    padding-bottom: 10px;
    
    border-bottom: 2px solid black;
}
.client-manage .left {
    display: block;
    flex-basis: 70%;
    flex-grow: 1;
}
.client-manage .right {
    display: flex;
    
    justify-content: flex-end;
    flex-basis: 30%;
    flex-grow: 1;
    
    margin: 0 auto;
}

@media (orientation: portrait) {
    .client-manage .right{
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }
}

.client-list { 
    margin: 20px 0;
    color: black;
    font-size: 1.1rem
}
.client-list table{
    width: 100%;
    border-collapse: collapse;
}
.client-list tr{
    transition: 150ms ease-in-out;
}
.client-list tr:nth-child(odd) td{
    background-color: #f1f1f1;
}
.client-list tr:nth-child(even) td{
    background-color: #e1e1e1;
}
.client-list tr:hover td{
    background-color: red;
    cursor: pointer;
}
.client-list th{
    padding: 10px;
    border-bottom: 2px solid;
    background-color: var(--clr-acc-2);
}
.client-list td{
    padding: 10px;
    border-right: solid 2px #d1d1d1; 
    border-left: solid 2px #d1d1d1; 

}
