.client-container {
    height: 100%;
    padding: 20px;
}

.client-manage {
    display: flex;
    
    background: rgb(164, 225, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.client-manage .left {
    width: 50%;
}
.client-manage .right {
    display: block;
    width: 50%;
    margin: auto;
}

.client-list {
    display: none;
    background-color: red;
}
.client-list table{

}
.client-list tr{

}
.client-list th{

}
.client-list td{

}
