/* ---- General ---- */
:root {
    --clr-bg-1: #e1e1e1;
    --clr-bg-2: #6c72bf;
    --clr-acc-1: #2b61d1;
    --clr-acc-2: #a4e1ff;

    --clr-txt: white;
}
* {
    margin: 0;
}
html, body, #root {

    background-image: url("./images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
    color: var(--clr-txt);
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

/* ---- Loading page ---- */
.page-fallback {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 20%;
    width: 20%;
    
    color: black;
    text-align: center;

    user-select: none;
}

/* ---- Options elements for each option ---- */
.search-box {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-grow: 1;
}
.search-input {
    flex-basis: 100%;
    padding: 10px;
    padding-right: 0;
    font-size: 1.2rem;
    color: black;

    background: none;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    outline: none;

    transition: 150ms ease-in-out;
}
.search-button {
    padding: 10px; 
    font-size: 1.2rem;

    background: rgba(0, 0, 0, 0);
    border: 2px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    outline: none;

    cursor: pointer;

    transition: 150ms ease-in-out;
}
.search-button:hover {
    background: var(--clr-acc-1);
}

.add-button {
    float: right;
    padding: 10px;

    font-size: 1.2rem;
    color: black;

    background: rgba(0, 0, 0, 0);
    
    outline: none;
    border: 2px solid black;
    border-radius: 10px;

    cursor: pointer;

    transition: 150ms ease-in-out;
}
.add-button:hover {
    background: var(--clr-acc-1);
}

.filter-box {
    display: flex
}
.filter-box h2 {
    width: 100%;
    background-color: red;
}
.filter-box.opened {
    width: 100%;
}
.filter-button {
    width: 20%;
    padding: 10px;

    font-size: 1.2rem;
    color: black;

    background: rgba(0, 0, 0, 0);
    
    outline: none;
    border: 2px solid black;
    border-radius: 10px;

    cursor: pointer;

    transition: 150ms ease-in-out;
}
.filter-button:hover {
    background: var(--clr-acc-1);
}

.filter-box ul {
    display: block;
    flex-wrap: wrap;

    list-style: none;
    color: black;

    padding: 0;
    font-size: 1.2rem;

    transition: 550ms ease-in-out;
}
.filter-box ul.opened{

}
.filter-box ul.closed{
    display: none;
}
.filter-box li {
    float: right;
    cursor: pointer;
    transition: 150ms ease-in-out;
    margin: 0 10px 10px 10px;
}
.filter-box li.opened{
    
}
.filter-box li.closed{

}
.filter-box li:hover {
    text-decoration: underline;
}

/* ---- Common page elements ---- */
.button {
    padding: 10px;

    text-align: center;
    font-size: 1.2rem;
    color: var(--clr-txt);

    background: none;
    border: 1px solid rgb(255, 255, 255, 0);
    border-radius: 10px;
    outline: none;

    cursor: pointer;
    transition: 150ms ease-in-out;
}
.button:hover {
    color: var(--clr-acc-2);
    border: 1px solid white;
}

/* ARCHIVE */
/* ---- Close button ---- */
/*.close-window {
    position: absolute;
    top: 1vh;
    right: 1vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    background: none;
    border: none;

    transition: 250ms ease-in-out;
}
.close-text {
    color: var(--clr-txt);
    font-size: 1.5rem;

    transition: 250ms ease-in-out;
}
.close-window-pt {
    position: absolute;
    transform: rotate(0deg);

    width: 100%;
    height: 10px;

    border-radius: 50%;

    transition: 450ms ease-in-out;
}
.close-window:hover {
    cursor: pointer;
}
.close-window:hover .close-text {
    color: rgba(0, 0, 0, 0);
}
.close-window:hover .pt1 {
    width: 35px;
    transform: rotate(45deg);
    background-color: var(--clr-txt);
}
.close-window:hover .pt2 {
    width: 35px;
    transform: rotate(-45deg);
    background-color: var(--clr-txt);
}*/
