/* ---- General ---- */
:root {
    --clr-bg-1: #e1e1e1;
    --clr-bg-2: #7cb8c2;
    --clr-acc-1: #609bff;
    --clr-acc-2: #6efff3;

    --clr-txt: white;
}
* {
    margin: 0;
}
html, body, #root {
    background: var(--clr-bg-1);
    margin: 0;
    color: var(--clr-txt);
    font-family: 'Roboto', sans-serif;
    height: 100%;
}


/* ---- Close button ---- */
.close-window {
    position: absolute;
    top: 1vh;
    right: 1vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    background: none;
    border: none;

    transition: 250ms ease-in-out;
}
.close-text {
    color: var(--clr-txt);
    font-size: 1.5rem;

    transition: 250ms ease-in-out;
}
.close-window-pt {
    position: absolute;
    transform: rotate(0deg);

    width: 100%;
    height: 10px;

    border-radius: 50%;

    transition: 450ms ease-in-out;
}
.close-window:hover {
    cursor: pointer;
}
.close-window:hover .close-text {
    color: rgba(0, 0, 0, 0);
}
.close-window:hover .pt1 {
    width: 35px;
    transform: rotate(45deg);
    background-color: var(--clr-txt);
}
.close-window:hover .pt2 {
    width: 35px;
    transform: rotate(-45deg);
    background-color: var(--clr-txt);
}
